.navbar {
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  color: white;
  font-size: 1.5rem;
  transition: 0.25s;
}

.logo {
  margin: 0 0.3rem;
  border: 0.15rem solid white;
  border-radius: 50%;
  padding: 0.1rem;
}

.logo img {
  width: 2rem;
}

.menu {
  display: none;
}

.navbar > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar > ul > li {
  padding: 0 0.5rem;
}

.navbar > ul > li > a {
  color: white;
  text-shadow: none;
  font-size: 1rem;
  padding: 5px 8px;
}

.navbar > ul > li > a:hover {
  color: #990000;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .navbar {
    z-index: 99;
  }

  .title h1 {
    font-size: large;
  }

  .logo img {
    width: 2rem;
  }

  .menu {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
  }

  .menu > .MuiSvgIcon-root {
    font-size: xx-large;
  }

  .open {
    left: 0;
    opacity: 1;
  }

  .close {
    left: -100%;
    opacity: 0;
  }

  .navbar > ul {
    position: absolute;
    width: 100%;
    flex-direction: column;
    top: 4.5rem;
    background-color: #990000;
    background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
    z-index: 9;
  }

  .navbar > ul > li {
    padding: 1rem;
    border-top: 1px solid white;
    width: 100%;
  }

  .navbar > ul > li > a {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .navbar > ul {
    top: 3.5rem;
  }
}
