.image-slide {
  margin-top: 1rem;
  overflow: hidden;
  box-shadow: 0 3px 8px 0 #4b4b4b;
}

.image-slide > .slider {
  animation: slide 20s infinite ease-in-out;
  width: 500%;
  left: 0;
  position: relative;
}

.image-slide > .slider > img {
  width: 20%;
  float: left;
}

@keyframes slide {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
