.orders-table > table > thead > tr > th:nth-child(3) {
  text-align: left;
}

.orders-table > table > tbody > tr > td:nth-child(3) {
  text-align: left;
}

.Order.Placed {
  color: white;
  font-weight: 400;
  background-color: #ff4500;
}

.Order.Accpeted {
  color: white;
  font-weight: 400;
  background-color: #8db500;
}

.Order.is.being.prepared {
  color: white;
  font-weight: 400;
  background-color: #007e4e;
}

.On.the.way {
  color: white;
  font-weight: 400;
  background-color: #044ba7;
}

.Order.Delivered {
  color: white;
  font-weight: 400;
  background-color: #07a307;
}
