* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #fefefe;
}

.mid-align,
a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlebar {
  padding: 0.5rem;
  text-align: center;
  background-color: #373d20;
  min-width: 100%;
}

.titlebar h1 {
  color: #abac7f;
  font-size: 2.5rem;
  transition: 0.25s;
}

.logo {
  margin: 0 0.5rem;
  border: 0.2rem solid #abac7f;
  border-radius: 50%;
  padding: 0.3rem;
}

.logo img {
  width: 4rem;
  filter: sepia(0.5);
  transition: 0.25s;
}

.main,
.login,
.createForm {
  min-height: 70vh;
}

.titlebar {
  height: 15vh;
}

.footer {
  height: 15vh;
}

.credentials {
  padding: 2rem;
  flex-direction: column;
  background-color: #717744;
  min-height: 20rem;
  width: 30rem;
  border-radius: 0.2rem;
  box-shadow: 0 5px 5px 0 rgb(100, 99, 99);
}

.credentials p {
  color: #fefefe;
  font-size: 1.2rem;
  text-align: center;
}

.credentials a {
  margin: 2rem 0;
  width: 100%;
}

.login,
.loginForm {
  flex-direction: column;
}

.btn,
form {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.btn {
  width: 20rem;
  padding: 1rem;
  color: #373d20;
  border: none;
  border-radius: 0.2rem;
  background-color: #fefefe;
  box-shadow: 0 2px 5px 0 rgb(100, 99, 99);
  cursor: pointer;
  transition: 0.25s;
}

form h2 {
  padding: 1rem 0;
  color: #fefefe;
}

form {
  padding: 2rem;
  width: 30rem;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #717744;
}

.loginForm input,
label {
  width: 100%;
  text-align: start;
}

.loginForm label {
  color: #fefefe;
  font-size: 1.2rem;
  padding: 1rem 0;
}

.loginForm input {
  color: #373d20;
  padding: 0.6rem 0.3rem;
  font-size: 1rem;
  border: 0.05rem solid #abac7f;
  border-radius: 0.2rem;
  outline-color: #717744;
}

.back {
  position: absolute;
}

.back p {
  color: #fefefe;
  cursor: pointer;
}

.createForm,
.adminLogin {
  padding: 2rem 0;
}

a {
  float: right;
  text-decoration: none;
  color: #fefefe;
  letter-spacing: normal;
}

input[type="submit"] {
  margin: 1rem 0;
  font-weight: 500;
  color: #373d20;
  border: none;
  border-radius: 0.2rem;
  background-color: #fefefe;
  box-shadow: 0 2px 5px 0 rgb(100, 99, 99);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.05rem;
  transition: 0.25s;
}

.btn:hover,
input[type="submit"]:hover {
  background-color: #373d20;
  color: #fefefe;
  letter-spacing: 0.7rem;
}

.dashboard,
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.select {
  margin: 1rem 0;
  background-color: #fefefe;
  width: fit-content;
  padding: 0.3rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 2px 5px 1px rgb(75, 75, 75);
}

.select h1 {
  font-size: 1.1rem;
  color: #373d20;
  font-weight: 500;
  text-align: center;
}

/* GRID */
.userDash {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  grid-gap: 5rem;
  width: 90%;
  margin: 2rem 5rem;
}

.imageBg {
  flex-direction: column;
  padding: 1rem;
  background-color: #373d20;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgb(75, 75, 75);
  position: relative;
  transition: 0.25s;
}

.imageBg p {
  font-weight: 500;
  padding-top: 0.5rem;
  color: #abac7f;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}

.image {
  height: 10rem;
  width: 10rem;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  transition: 0.3s ease;
}

.image h2 {
  opacity: 0;
  color: #fefefe;
  position: absolute;
  text-align: center;
  transition: 0.4s ease;
}

.image:hover {
  width: 105%;
  z-index: 2;
}

.image:hover img {
  filter: sepia(0.7);
  opacity: 0.1;
}

.image:hover h2 {
  opacity: 0.9;
  z-index: 3;
  font-size: 180%;
}

.image img {
  width: 100%;
}

.priceTag {
  background-color: #abac7f;
  font-size: 1rem;
  color: #373d20;
  font-weight: 500;
  top: 0.2rem;
  right: 0.2rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  border-radius: 1rem 0 1rem 1rem;
  box-shadow: 0 2px 10px 1px rgb(37, 37, 37);
  transition: 0.25s ease-in-out;
  z-index: 3;
}

.priceTag:hover {
  background-color: #717744;
  font-size: 1.2rem;
}

.ham {
  position: absolute;
  color: #abac7f;
  top: 1.8rem;
  left: 1rem;
  font-size: 2.5rem;
  transition: 0.5s;
}

.ham:hover {
  color: #717744;
}

.btnCart {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.btnCart button {
  font-size: 1.5rem;
  background-color: #abac7f;
  color: #373d20;
  border: none;
  border-radius: 50%;
  padding: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.btnCart:hover button {
  background-color: #373d20;
  color: #abac7f;
}

.btnCart span {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.3rem 0.7rem;
  top: 1.2rem;
  right: 2.1rem;
  background-color: #373d20;
  color: #abac7f;
  position: absolute;

  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.btnCart:hover span {
  background-color: #abac7f;
  color: #373d20;
}

/* Cart panel */
.cartPanel {
  height: fit-content;
  width: fit-content;
  background-color: white;
  box-shadow: -2px 2px 10px 0px rgba(10, 10, 10, 0.753);
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 99;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.closebtn {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 2rem;
  border: 0.1rem solid #373d20;
  border-radius: 0.2rem;
  background-color: #abac7f;
  font-weight: 500;
  cursor: pointer;
  color: #373d20;
  transition: 0.5s;
}

.btnRemove {
  width: 50%;
  border: 0.1rem solid #373d20;
  border-radius: 0.2rem;
  background-color: #abac7f;
  font-weight: 500;
  cursor: pointer;
  color: #373d20;
  transition: 0.3s;
}

.closebtn:hover,
.btnRemove:hover {
  background-color: #373d20;
  color: #abac7f;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0.5rem 0;
}

.color-1 {
  color: #717744;
}

.cartRow h6 {
  font-size: 1rem;
  width: 100%;
}

.totalPrice {
  width: 100%;
}

.checkout p {
  font-size: 1.2rem;
  font-weight: 500;
}

.checkout h3 {
  color: #373d20;
  font-size: 1.5rem;
  text-align: center;
  background-color: #abac7f;
}

.message {
  width: 100%;
  text-align: left;
  color: crimson;
  font-weight: 400;
}

.footer {
  text-align: center;
  background-color: #373d20;
  color: #abac7f;
  padding: 2rem 0;
  width: 100%;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: #abac7f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #373d20;
}

@media screen and (max-width: 600px) {
  .credentials {
    width: 80%;
  }

  form {
    width: 80%;
    font-size: 80%;
  }

  .titlebar h1 {
    font-size: 150%;
  }

  .logo img {
    width: 3rem;
  }

  .btn {
    width: 100%;
  }

  .btnCart button {
    font-size: 1rem;
  }

  .btnCart span {
    top: 1rem;
    right: 1.7rem;
  }

  .userDash {
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 430px) {
  .titlebar {
    flex-direction: column;
  }

  .titlebar h1 {
    text-shadow: none;
  }

  .logo {
    display: none;
  }

  .select h1 {
    font-size: 90%;
  }

  .userDash {
    grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
  }

  .image {
    height: 5rem;
    width: 5rem;
  }

  .image:hover h2 {
    font-size: 110%;
  }
}
